@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Permanent+Marker&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
.nav-class{
    font-family: 'Josefin Sans';
    font-size: 20px
}
.navbar-logo{
    color: white;
    text-decoration: none;
}
.forms-section{
    height: 90vh;
    border: 2px solid black;
    background-position:center;
    background-image: url(images/architecture.jpg);
    background-size:cover;
}
.forms-section h1{
   padding-top: 100px;
   font-family: 'Josefin Sans';
}
.forms-section .buttony{
    font-family: 'Josefin Sans';
    margin-top: 80px;
    height: 50px;
    width: 400px;
    color: rgb(233, 128, 30);
    text-align: center;
    font-size: 25px;
    transition: 0.3s;
}
.forms-section .buttony:hover{
    background-color: bisque;
    color: brown;
}
.pic-section{
    margin-top: 40px;
    width: 100%;
    height: 25vh; 
    background-position: center;
    border-radius: 120px;
}
.pic-section img{
    border-radius: 70px;
    height: 150px;
    width: 150px;
}
.form-control{
    font-family: 'Josefin Sans';
}
.mb-4{
    font-family: 'Josefin Sans';
}
.copy-right{
    width: 100%;
}

